.selectgroup-input:checked + .alertRatingItem {
  border-color: #f1c40f;
  z-index: 1;
  color: #f1c40f;
  background: #f1c40f17;
}
.selectgroup-input:focus + .alertRatingItem {
  border-color: #f1c40f;
  z-index: 2;
  color: #f1c40f;
  box-shadow: 0 0 0 2px rgba(231, 214, 56, 0.25);
}

.selectgroup-input:checked + .cancelRatingItem {
  border-color: #cd201f;
  z-index: 1;
  color: #cd201f;
  background: #ff59583b;
}
.selectgroup-input:focus + .cancelRatingItem {
  border-color: #cd201f;
  z-index: 2;
  color: #cd201f;
  box-shadow: 0 0 0 2px rgba(231, 56, 56, 0.25);
}
